[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
torchvision = "*"
matplotlib = "*"
numpy = "*"
pandas = "*"
scipy = "*"
sacred = "*"
pymongo = "*"
jax = "*"
numpyro = "*"
seaborn = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
